// Project related custom CSS
html, body {
    height: 100vh;
}

.sidebar {
    height: 100vh;
    background-color: #212121;
    color: white;
}

.sidebar-header {
    padding-top: 1rem;
}

.main {
    height: 100vh;
}

.main .navbar {
    background-color: #212121;
    border-radius: 0;
}

input,
.btn {
    border-radius: 0 !important;
}

.btn,
.navbar-toggler {
    cursor: pointer;
}

.info-window {
    max-width: 300px;
}

.location {
    width: 100%;
    text-overflow: auto;
}

@media (min-width: 768px) {
    .locations {
        overflow-y: scroll;
        max-height: calc(100vh - 120px);
    }
}

.locations button:hover {
    border-color: red;
}
